/* Add some default styles */
.body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
    background-color: white;
    color: black;
    min-height: 100vh;
}

/* Style the header */
.h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Brush Script MT", cursive;
}

/* Style the main image */
.img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Style the text description */
.p {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.form {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

button[type="submit"], button[type="button"], #imageInput, #imageInputAI {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #005fa3;
}


.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
    cursor: pointer;
}

.content {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.back-button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
}

.back-button.hidden {
    opacity: 0;
    pointer-events: none;
}


.image-ai-result img {
    object-fit: cover;
    height: 0%;
    width: 0%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.image-ai-result img.active {
    height: auto;
    width: auto;
    opacity: 1;
}


ul {
    list-style-type: none;
}


.username {
    float: left;
    margin-left: 5%;
}


#items {
    list-style: none; /* remove bullet points */
    padding: 0; /* remove default padding */
    margin: 0; /* remove default margin */
}

#items li {
    font-size: 1.2rem; /* set font size */
    line-height: 1.5; /* set line height */
    padding: 0.5rem; /* add padding */
    border-bottom: 1px solid #ccc; /* add a bottom border */
}

#items li:last-child {
    border-bottom: none; /* remove bottom border for last list item */
}

.remove-button {
    margin-left: 10px;
}

.title-text {
    font-size: 20px;
}

.body-text {
    color: rgb(104, 105, 105);
    font-size: 20px;
    line-height: 2;
}

.accordion-item {
    border-width: 10px !important;
    border: 1px solid rgb(194, 193, 193) !important;
}

.ingredients {
    text-align: left;
    padding-left: 45%;
}


.title-container {
    display: inline-block;
    width: 80%;
}

.media-container {
    display: inline-block;
    width: 20%;
    text-align: left;
}

.like-container {
    display: inline-block;
    width: 50%;
    padding-left: 15%;
    /* background-color: #005fa3; */
}

.fb-container {
    /* float: right; */
    display: inline-block;
    width: 50%;
    padding-left: 7%;
    /* background-color: red;*/
}

.like {
    height: 30px;
    width: 30px;
}

.like:hover {
    cursor: pointer;
}

@media (max-width: 995px) {
    .title-container {
        width: 65%;
    }

    .media-container {
        width: 35%;
    }
}

@media (max-width: 635px) {
    .like-container {
        display: block;
    }
}


.actions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



/* styles for login page */
.login-container {
    background-image: url(https://previews.123rf.com/images/krekdm/krekdm1607/krekdm160700299/61898029-seamless-food-pattern-can-be-used-for-wallpaper-website-background-wrapping-paper-restaurant.jpg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: Tahoma;
    color: white;
    padding: 30px;
}

.welcome {
    margin: 0 10%;
}

.auth-info {
    background-color: rgb(243, 195, 164, .97);
    margin: auto;
    width: 80%;
    max-width: 650px;
    border-radius: 10px;
}

.login-width {
    margin: auto;
    width: 70%;
}

.login-button-width {
    margin: auto;
    width: 30%;
}

.auth-button {
    color: white !important;
}

.error {
    color: red;
    font-size: 25px;
}
